body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

p{
    text-align: justify;
}
h1{
    text-align: center;
}
img{
    text-align: center;
    height: 30rem;
    width: 30rem;
}