<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>
        
        <h1><%= title %></h1>
        <p>Esta pagina es un ejemplo <%= descripcion %></p>
        <p> El divulgador científico Javier San Martín nos explica cuán lejos estamos de lograr construir un robot que pueda tener emociones humanos, como los sueños o sentir empatía. ¿Estamos cerca o lejos?.La respuesta nos va a sorprender, porque son ya una realidad y se aplican en la medicina, especialmente como ayuda para los niños con distintos grados de autismo.</p>
        <img src="https://images11.eitb.eus/multimedia/images/2018/07/01/2308604/20180701131808_robot_foto610x342.jpg" alt="Robot">
    </body>
</html>
