<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>HTML5 Admin Template</title>

        <!--link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"-->


        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700" rel="stylesheet">

        <!-- Template Styles -->
        <link rel="stylesheet" href="stylesheets/font-awesome.min.css">

        <!-- CSS Reset -->
        <link rel="stylesheet" href="stylesheets/normalize.css">

        <!-- Milligram CSS minified -->
        <link rel="stylesheet" href="stylesheets/milligram.min.css">

        <!-- Main Styles -->
        <link rel="stylesheet" href="stylesheets/estiloApp.css">

        <!-- Estilos de perfil usuario -->
        <link rel="stylesheet" href="stylesheets/estiloProfile.css">

        <!-- jquery mains -->
        <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
        <script src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

        <script src="http://code.jquery.com/jquery-latest.js"></script>


    </head>

    <body>
        <div class="navbar">
            <div class="row">
                <div class="column column-30 col-site-title"><a href="#" class="site-title float-left">Medialoot</a></div>
                <div class="column column-40 col-search">
                    <a href="#" class="search-btn fa fa-search"></a>
                    <input type="text" name="meidalot" value="" placeholder="Search..." />
                </div>

                <div class="column column-30">
                    <ul id="menu">
                        <li>

                            <input type="checkbox" name="list" id="nivel1-1">

                            <label for="nivel1-1">
                                <img src="http://via.placeholder.com/50x50" alt="profile photo" class="circle float-left profile-photo" width="50" height="auto">
                                <h4>Jonnathan Espinoza</h4>

                            </label>
                            <ul class="interior">
                                <li><input type="checkbox" name="list" id="nivel2-1"><a href="/profile"><i class="fas fa-user"></i> Tu perfil</a></li>
                                <li><input type="checkbox" name="list" id="nivel2-1"><a href="/app"><i class="fas fa-file-invoice-dollar"></i> Factura</a></li>
                                <li><input type="checkbox" name="list" id="nivel2-1"><a href="#"> <i class="fas fa-sign-out-alt"></i> Salir</a></li>
                            </ul>
                        </li>

                    </ul>
                </div>

            </div>
        </div>

        <div class="row">
            <section id="main-content" class="column column-offset-10 ">
                <div class="container " style="padding-top: 60px; background-color: #fff;">
                    <h1 class="page-header">Perfil</h1>
                    <div class="row">
                        <div class="col-md-4 col-sm-6 col-xs-12 divIzq">

                        </div>
                        <!-- columna izquierda -->
                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <div class="text-center">
                                <img src="images/pic01.jpg" class="avatar img-circle img-thumbnail imgUser" alt="avatar">
                                <h6>Nombre User</h6>
                                <br>
                                <a href="/editar" class="aEditarPerfil">Editar Perfil</a>

                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 col-xs-12 divMed">

                        </div>
                        <!-- informacion del usuario -->
                        <div class="col-md-8 col-sm-6 col-xs-12 personal-info">

                            <h3>Información</h3>
                            <div class="form-group">
                                <label class="col-lg-3 control-label">Nombre:</label>
                                <div class="col-lg-8">
                                    <input class="form-control" value="JJJ" type="text" disabled>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-3 control-label">Apellido:</label>
                                <div class="col-lg-8">
                                    <input class="form-control" value="Lol" type="text" disabled>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-3 control-label">Empresa:</label>
                                <div class="col-lg-8">
                                    <input class="form-control" value="Lol" type="text" disabled>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-3 control-label">RUC:</label>
                                <div class="col-lg-8">
                                    <input class="form-control" value="1234567898001" type="text" disabled>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-lg-3 control-label">Email:</label>
                                <div class="col-lg-8">
                                    <input class="form-control" value="j@gmail.com" type="text" disabled>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-lg-3 control-label">Ambiente:</label>
                                <div class="col-lg-8">
                                    <input class="form-control" value="" type="text" disabled>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-lg-3 control-label">Tipo Emisión:</label>
                                <div class="col-lg-8">
                                    <input class="form-control" value="" type="text" disabled>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-lg-3 control-label">Razón social:</label>
                                <div class="col-lg-8">
                                    <input class="form-control" value="" type="text" disabled>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-lg-3 control-label">Clave de acceso:</label>
                                <div class="col-lg-8">
                                    <input class="form-control" value="" type="text" disabled>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-lg-3 control-label">Dirección Matriz:</label>
                                <div class="col-lg-8">
                                    <input class="form-control" value="" type="text" disabled>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-lg-3 control-label">Dirección Sucursal:</label>
                                <div class="col-lg-8">
                                    <input class="form-control" value="" type="text" disabled>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-lg-3 control-label">Telf:</label>
                                <div class="col-lg-8">
                                    <input class="form-control" value="" type="text" disabled>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </section>
        </div>


        <script src="js/menu.js"></script>
        <script src="js/chart.min.js"></script>
        <script src="js/chart-data.js"></script>
        <script>
            window.onload = function () {
                var chart1 = document.getElementById("line-chart").getContext("2d");
                window.myLine = new Chart(chart1).Line(lineChartData, {
                    responsive: true,
                    scaleLineColor: "rgba(0,0,0,.2)",
                    scaleGridLineColor: "rgba(0,0,0,.05)",
                    scaleFontColor: "#c5c7cc"
                });
                var chart2 = document.getElementById("bar-chart").getContext("2d");
                window.myBar = new Chart(chart2).Bar(barChartData, {
                    responsive: true,
                    scaleLineColor: "rgba(0,0,0,.2)",
                    scaleGridLineColor: "rgba(0,0,0,.05)",
                    scaleFontColor: "#c5c7cc"
                });
                var chart4 = document.getElementById("pie-chart").getContext("2d");
                window.myPie = new Chart(chart4).Pie(pieData, {
                    responsive: true,
                    segmentShowStroke: false
                });
                var chart5 = document.getElementById("radar-chart").getContext("2d");
                window.myRadarChart = new Chart(chart5).Radar(radarData, {
                    responsive: true,
                    scaleLineColor: "rgba(0,0,0,.05)",
                    angleLineColor: "rgba(0,0,0,.2)"
                });
                var chart6 = document.getElementById("polar-area-chart").getContext("2d");
                window.myPolarAreaChart = new Chart(chart6).PolarArea(polarData, {
                    responsive: true,
                    scaleLineColor: "rgba(0,0,0,.2)",
                    segmentShowStroke: false
                });
            };
        </script>


    </body>
</html>

