
/*estilo buscarProductos*/
#buscarProductos form {
    margin: 0 auto;
    width: 70%;
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
    text-align: center;
}

#buscarProductos label {
    display: inline-block;
    width: 21%;
    text-align: left;
}

#buscarProductos table {
    font-family: sans-serif;
    font-weight: bolder;
}

#buscarProductos thead tr td{
    border-radius: 0.3em;
    background-color: #25beae;
    text-align: center;
    font-family: sans-serif;
    font-weight: bolder;

}
