@import url('https://use.fontawesome.com/releases/v5.2.0/css/all.css');

#menu * {
    list-style:none;
    background-color: #fff; /*#f6755e;*/
}
#menu li{
    line-height:180%;
}
#menu li a{
    color:#222;
    text-decoration:none;
}
#menu li a:before{
    content:"\025b8";
    color:#ddd;
    margin-right:4px;
}
#menu input[name="list"] {
    position: absolute;
    left: -1000em;
}
#menu label:before{
    content:"\025b8";
    margin-right:4px;
}
#menu input:checked ~ label:before{
    content:"\025be";
}
#menu .interior{
    display: none;
}
#menu input:checked ~ ul{
    display:block;
}

.style{
    padding-right:12%;
    padding-left: 5%;
}

.imgUser {
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

.divMed {
    width: 80px;

}

.divIzq {
    margin-right: 200px;
}

.main-content2 {
    width: 80%!important;
    padding: 20px 3.5rem!important;
    margin-top: 95px;
    margin-right: 102px;

}

#txtareaPerfil {
    width: 400px;
    resize: none;
}

.aEditarPerfil {
    padding: 6px;
    border: 2px solid;
    border-radius: 5px;
}

.aEditarPerfil:hover {
    background-color: rgba(0, 0, 0, 0.13);
}

input {
    margin-left: 15%;

}

h3, h3 {
    color: #35cebe;
    font-size: 1.5em;
    font-style:inherit;
    
}

.labelDireccion {
    margin-left: 40px;
}

/* Mobile */

@media (max-width: 640px) {
    #txtareaPerfil {
        width: 100%;
    }

    input {
        margin-left: 0;
    }

    .labelDireccion {
        margin-left: 0;
    }
}


/* Tablet */

@media (min-width: 768px) and (max-width: 1024px){

    .divIzq {
        margin-right: 40px;
    }

    .divMed {
        width: 40px;

    }

    input {
        margin-left: 0;
    }

    .labelDireccion {
        margin-left: 0;
    }


}