<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>HTML5 Admin Template</title>

        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700" rel="stylesheet">

        <!-- Template Styles -->
        <link rel="stylesheet" href="stylesheets/font-awesome.min.css">

        <!-- CSS Reset -->
        <link rel="stylesheet" href="stylesheets/normalize.css">

        <!-- Milligram CSS minified -->
        <link rel="stylesheet" href="stylesheets/milligram.min.css">

        <!-- Main Styles -->
        <link rel="stylesheet" href="stylesheets/estiloApp.css">

        <!-- jquery mains -->
        <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script> 
        <script src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
        <!--bootstrap
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" ></script>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" ></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" ></script> -->


        <!--[if lt IE 9]>
        

        
        
        
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        <script src="http://code.jquery.com/jquery-latest.js"></script>



    </head>

    <body>
        <div class="navbar">
            <div class="row">
                <div class="column column-30 col-site-title"><a href="#" class="site-title float-left">Medialoot</a></div>
                <div class="column column-40 col-search"><a href="#" class="search-btn fa fa-search"></a>
                    <input type="text" name="meidalot" value="" placeholder="Search..." />
                </div>
                <div class="column column-30">
                    <div class="user-section"><a href="#">
                            <img src="http://via.placeholder.com/50x50" alt="profile photo" class="circle float-left profile-photo" width="50" height="auto">
                            <div class="username">
                                <h4>Jane Donovan</h4>
                                <p>Administrator</p>
                            </div>
                        </a></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div id="sidebar" class="column">
                <header>
                    <h5>Navigation</h5>
                   
                    <label for="btn-menu" class="icon-menu"></label>
                    <nav id="menu">
                        <ul class="menu">

                            <li><a href="#"><em class="fa fa-home"></em> Home</a></li>
                            <li><a href="#factura" id="mostrar_factura" ><em class="fa fa-file"></em> Factura <i class="icon-down-open"></i></a></li>

                            <li class="activado"><a id="mostrar_producto"><em class="fa fa fa-clone"></em>Productos<i class="icono derecha fa fa-chevron-down"></i></a>
                                <ul>
                                    <li><a href="#ingresarProductos" id="mostrar_igrProducto"><i class="fa fa-plus-square"></i>Ingresar Productos</a></li>
                                    <li><a href="#buscarProductos"  id="mostrar_bscProducto"><i class="fa fa-search"></i>Buscar Productos</a></li>
                                </ul>
                            </li>

                            <li><a href="#usuario" id="mostrar_usuario"><em class="fa fa-pencil-square-o"></em> usuario</a></li>
                            <li><a href="#alerts"><em class="fa fa-warning"></em> Alerts</a></li>
                            <li><a href="#buttons"><em class="fa fa-hand-o-up"></em> Buttons</a></li>
                            <li><a href="#tables"><em class="fa fa-table"></em> Tables</a></li>
                            <li><a href="#grid"><em class="fa fa-columns"></em> Grid</a></li>
                        </ul>
                    </nav>
                </header>
                <script src="js/menu.js"></script>
            </div>
            <section id="main-content" class="column column-offset-20">


                <!--Charts-->
                <div  class="row grid-responsive" id="factura">
                    <%- include(factura)%>
                </div>

                <!--Widgets-->
                <div  class="row grid-responsive" id="ingresarProductos">
                    <%- include(ingresarProductos)%>
                </div>
                <div  class="row grid-responsive" id="buscarProductos">
                    <%- include(buscarProductos)%>
                </div>
                <!--Forms-->
                <div  class="anchor" id="usuario">
                    <h5 class="mt-2">Usuario</h5>
                </div>

                <!--Tables-->
                <div  class="anchor" id="tables">
                    <h5 class="mt-2">Tables</h5>
                </div>
                <!--Grid-->
                <div  id="grid" class="anchor">
                    <h5 class="mt-2">Grid</h5>
                </div>

            </section>
        </div>
        <script src="js/menu.js"></script>
        <script src="js/chart.min.js"></script>
        <script src="js/chart-data.js"></script>
        <script>
            window.onload = function () {
                var chart1 = document.getElementById("line-chart").getContext("2d");
                window.myLine = new Chart(chart1).Line(lineChartData, {
                    responsive: true,
                    scaleLineColor: "rgba(0,0,0,.2)",
                    scaleGridLineColor: "rgba(0,0,0,.05)",
                    scaleFontColor: "#c5c7cc"
                });
                var chart2 = document.getElementById("bar-chart").getContext("2d");
                window.myBar = new Chart(chart2).Bar(barChartData, {
                    responsive: true,
                    scaleLineColor: "rgba(0,0,0,.2)",
                    scaleGridLineColor: "rgba(0,0,0,.05)",
                    scaleFontColor: "#c5c7cc"
                });
                var chart4 = document.getElementById("pie-chart").getContext("2d");
                window.myPie = new Chart(chart4).Pie(pieData, {
                    responsive: true,
                    segmentShowStroke: false
                });
                var chart5 = document.getElementById("radar-chart").getContext("2d");
                window.myRadarChart = new Chart(chart5).Radar(radarData, {
                    responsive: true,
                    scaleLineColor: "rgba(0,0,0,.05)",
                    angleLineColor: "rgba(0,0,0,.2)"
                });
                var chart6 = document.getElementById("polar-area-chart").getContext("2d");
                window.myPolarAreaChart = new Chart(chart6).PolarArea(polarData, {
                    responsive: true,
                    scaleLineColor: "rgba(0,0,0,.2)",
                    segmentShowStroke: false
                });
            };
        </script>	
        <script>
            $(document).ready(function () {
                $('#factura').hide();
                $('#productos').hide();
                $('#usuario').hide();
                $('#tables').hide();
                $('#grid').hide();
                $('#ingresarProductos').hide();
                $('#buscarProductos').hide();

                $('#mostrar_factura').on('click', function () {
                    $('#factura').show();
                    $('#ingresarProductos').hide();
                    $('#buscarProductos').hide();
                    $('#productos').hide();
                    $('#usuario').hide();

                });
                $('#mostrar_producto').on('click', function () {
                    $('#productos').show();
                    $('#ingresarProductos').hide();
                    $('#buscarProductos').hide();
                    $('#factura').hide();
                    $('#usuario').hide();
                });
                $('#mostrar_usuario').on('click', function () {
                    $('#usuario').show();
                    $('#ingresarProductos').hide();
                    $('#buscarProductos').hide();
                    $('#productos').hide();
                    $('#factura').hide();
                });
                $('#mostrar_igrProducto').on('click', function () {
                    $('#ingresarProductos').show();
                    $('#buscarProductos').hide();
                    $('#productos').hide();
                    $('#factura').hide();
                    $('#usuario').hide();
                });
                $('#mostrar_bscProducto').on('click', function () {
                    $('#buscarProductos').show();
                    $('#ingresarProductos').hide();
                    $('#productos').hide();
                    $('#factura').hide();
                    $('#usuario').hide();
                });



            });
        </script>

    </body>
</html> 

