<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>HTML5 Admin Template</title>

        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700" rel="stylesheet">

        <!-- Template Styles -->
        <link rel="stylesheet" href="stylesheets/font-awesome.min.css">

        <!-- CSS Reset -->
        <link rel="stylesheet" href="stylesheets/normalize.css">

        <!-- Milligram CSS minified -->
        <link rel="stylesheet" href="stylesheets/milligram.min.css">

        <!-- Main Styles -->
        <link rel="stylesheet" href="stylesheets/estiloApp.css">
        


        <!-- jquery mains -->
        <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
        <script src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
        <!--bootstrap
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" ></script>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" ></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" ></script> -->


        <!--[if lt IE 9]>





        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        <script src="http://code.jquery.com/jquery-latest.js"></script>



    </head>

    <body>
        <div class="navbar">
            <div class="row">
                <div class="column column-30 col-site-title"><a href="#" class="site-title float-left">Facturación Electrónica</a></div>

                <div class="column column-30">
                    <div class="user-section"><a href="/profile">
                            <img src="http://via.placeholder.com/50x50" alt="profile photo" class="circle float-left profile-photo" width="50" height="auto">
                            <div class="username">
                                <h4>Jane Donovan</h4>
                                <p>Administrator</p>
                            </div>
                        </a></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div id="sidebar" class="column">
                <header>
                    <h5>Navigation</h5>

                    <label for="btn-menu" class="icon-menu"></label>
                    <nav id="menu">
                        <ul class="menu">

                           
                            <li><a href="#factura" id="mostrar_factura" ><em class="fa fa-file"></em> Factura <i class="icon-down-open"></i></a></li>

                            <li class="activado"><a id="mostrar_producto"><em class="fa fa fa-clone"></em>Productos<i class="icono derecha fa fa-chevron-down"></i></a>
                                <ul>
                                    <li><a href="#ingresarProductos" id="mostrar_igrProducto"><i class="fa fa-plus-square"></i>Ingresar Productos</a></li>
                                    <li><a href="#buscarProductos"  id="mostrar_bscProducto"><i class="fa fa-search"></i>Buscar Productos</a></li>
                                </ul>
                            </li>

                            <li><a href="#cliente" id="mostrar_usuario"><em class="fa fa-user-plus"></em> Cliente</a></li>
                            <li><a href="#alerts"><em class="fa fa-warning"></em> Alerts</a></li>
                            <li><a href="#buttons"><em class="fa fa-hand-o-up"></em> Buttons</a></li>
                            <li><a href="#tables"><em class="fa fa-table"></em> Tables</a></li>
                            <li><a href="#grid"><em class="fa fa-columns"></em> Grid</a></li>
                        </ul>
                    </nav>
                </header>
            </div>
            <section id="main-content" class="column column-offset-20">
               <div id= "inicio">
                  <img src="https://www.comunycarse.com/wp-content/uploads/2012/07/factura-electronica.jpg">
                   
               </div>
               
                <!--Charts-->
                <div  class="row grid-responsive" id="factura">
                    <%- include(factura)%>
                </div>

                <!--Widgets-->
                <div  class="row grid-responsive" id="ingresarProductos">
                    <%- include(ingresarProductos)%>
                </div>
                <div  class="row grid-responsive" id="buscarProductos">
                    <%- include(buscarProductos)%>
                </div>
                <!--Forms-->
                <div  class="row grid-responsive" id="nuevoCliente">
                    <%- include(nuevoCliente)%>
                </div>

                <!--Tables-->
                <div  class="anchor" id="tables">
                    <h5 class="mt-2">Tables</h5>
                </div>
                <!--Grid-->
                <div  id="grid" class="anchor">
                    <h5 class="mt-2">Grid</h5>
                </div>

            </section>
        </div>
        <script src="js/menu.js"></script>
        <script src="js/chart.min.js"></script>
        <script src="js/chart-data.js"></script>

        <script>
            $(document).ready(function () {
                $('#factura').hide();
                $('#productos').hide();
                $('#cliente').hide();
                $('#tables').hide();
                $('#grid').hide();
                $('#ingresarProductos').hide();
                $('#buscarProductos').hide();
                $('#nuevoCliente').hide();

                $('#mostrar_factura').on('click', function () {
                    $('#factura').show();
                    $('#ingresarProductos').hide();
                    $('#buscarProductos').hide();
                    $('#productos').hide();
                    $('#cliente').hide();
                    $('#inicio').hide();
                    $('#nuevoCliente').hide();

                });

                $('#mostrar_usuario').on('click', function () {
                    $('#nuevoCliente').show();
                    $('#ingresarProductos').hide();
                    $('#buscarProductos').hide();
                    $('#productos').hide();
                    $('#factura').hide();
                    $('#inicio').hide();

                });
                $('#mostrar_igrProducto').on('click', function () {
                    $('#ingresarProductos').show();
                    $('#buscarProductos').hide();
                    $('#productos').hide();
                    $('#factura').hide();
                    $('#cliente').hide();
                    $('#inicio').hide();
                    $('#nuevoCliente').hide();
                });
                $('#mostrar_bscProducto').on('click', function () {
                    $('#buscarProductos').show();
                    $('#ingresarProductos').hide();
                    $('#productos').hide();
                    $('#factura').hide();
                    $('#cliente').hide();
                    $('#inicio').hide();
                    $('#nuevoCliente').hide();
                });


            });
        </script>

    </body>
</html>

