<div class="container">
    <h4 class="card-title ">Detalle del Producto </h4>
    <div class="card">
        <div class="card-header">
            <h5 class="card-title ">Características Generales</h5>
        </div>
        <div class="card-block">
            <form method="post" action="/guardarProducto">
                <div class="form-group">
                    <label for="text_codPrincipalA" class="form-control-label">Código Principal:</label>
                    <input type="text" class="form-control" id="text_codPrincipalA" name="text_codPrincipalA" placeholder="Ingrese Código Principal del Producto"/>
                    <div class="errores" id="mensajeCodPrincipalA">Ingrese Código Principal del Producto. (Solo Números) </div>
                </div>

                <div class="form-group">
                    <label for="txt_nomProductoA" class="form-control-label">Nombre Producto:</label>
                    <input type="text" class="form-control" id="txt_nomProductoA" name="txt_nomProductoA" placeholder="Ingrese Nombre del Producto"/>
                    <div class="errores" id="mensajeNomProductoA">Ingrese Nombre del Producto. (Solo Letras)</div>
                </div>

                <div class="form-group">
                    <label for="txt_marProductoA" class="form-control-label">Marca Producto:</label>
                    <input type="text" class="form-control" id="txt_marProductoA" name="txt_marProductoA" placeholder="Ingrese Marca del Producto"/>
                    <div class="errores" id="mensajeMarProductoA">Ingrese Marca del Producto </div>
                </div>

                <div class="form-group">
                    <label for="txt_modProductoA" class="form-control-label">Modelo Producto:</label>
                    <input type="text" class="form-control" id="txt_modProductoA" name="txt_modProductoA" placeholder="Ingrese Modelo del Producto"/>
                    <div class="errores" id="mensajeModProductoA">Ingrese Modelo del Producto</div>
                </div>

                <div class="form-group">
                    <label for="txt_valUnitario" class="form-control-label">Valor Unitario:</label>
                    <input type="text" class="form-control" id="txt_valUnitario" name="txt_valUnitario" placeholder="Ingrese el Precio del Producto. Ej: 89.00" />
                    <div class="errores" id="mensajeValUnitario">Ingrese Valor Unitario</div>
                </div>
                
                <div>
                    <label for="slt_IVA" class="form-control-label">IVA:</label>
                    <select name="slt_IVA" id="slt_IVA" >
                        <option value="" selected>Seleccione</option>
                        <option value="GRAVA IVA">GRAVA IVA</option>
                    </select>
                    <div class="errores" id="mensajeslt_IVA">Seleccione una Opción Válida</div>
                </div>

                <br>
                <div class="modal-footer">
                    <center><button type="submit" class="btn btn-secondary" id="guardarProducto">Guardar</button>
                        <button type="button" class="btn btn-secondary">Cancelar</button></center>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="/js/validacion_nuevoProducto.js"></script>

<script>
    $(document).ready(function(){

        validarNum($('#text_codPrincipalA'));
        soloLetras($('#txt_nomProductoA'));
        soloLetras($('#txt_marProductoA'));
        validarLetrasNumeros($('#txt_modProductoA'));
        validarSoloDecimal($('#txt_valUnitario'));

        $("#guardarProducto").click(function() {

            if ($('#text_codPrincipalA').val() == "") {
                $('#mensajeCodPrincipalA').fadeIn();
                return false;
            } else {
                $('#mensajeCodPrincipalA').fadeOut();
                if ($('#txt_nomProductoA').val() == "") {
                    $('#mensajeNomProductoA').fadeIn();
                    return false;
                } else {
                    $('#mensajeNomProductoA').fadeOut();
                    if ($('#txt_marProductoA').val() == "") {
                        $('#mensajeMarProductoA').fadeIn();
                        return false;
                    } else {
                        $('#mensajeMarProductoA').fadeOut();
                        if ($('#txt_modProductoA').val() == "") {
                            $('#mensajeModProductoA').fadeIn();
                            return false;
                        } else {
                            $('#mensajeModProductoA').fadeOut();

                            if ($('#txt_valUnitario').val() == "") {
                                $('#mensajeValUnitario').fadeIn();
                                return false;
                            } else {
                                $('#mensajeValUnitario').fadeOut();


                                if ($('#slt_IVA').val() == "") {
                                    $('#mensajeslt_IVA').fadeIn();
                                    return false;
                                } else {
                                    $('#mensajeslt_IVA').fadeOut();


                                }
                            }

                        }
                    }
                }
            }
        });
    });


</script>
