<div class="container">
    <div class="card">
        <div class="card-header">
            <h5 class="card-title ">Búsqueda </h5>
        </div>

        <div class="card-block">
            <form>
                <div class="form-group">
                    <label for="text_codPrincipal" class="form-control-label">Código Principal:</label>
                    <input type="text" class="form-control" id="text_codPrincipal" name="text_codPrincipal" placeholder="Ingrese Código Principal del Producto a Buscar" />
                </div>

                <div class="modal-footer">
                    <button type="button" id="btn_buscar" class="btn btn-secondary">Buscar</button>
                </div>
            </form>
        </div>


        <div class="card-header">
            <h5 class="card-title ">Lista de Productos</h5>
        </div>
        <form>
            <div>
                <table id="tablaBuscar">
                    <thead>
                        <tr>
                            <td>Código Producto</td>
                            <td>Nombre</td>
                            <td>Marca</td>
                            <td>Modelo</td>
                            <td>Precio</td>


                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>

                <button id="busquedaActualizar_bus" type="button">ACTUALIZAR</button>
                <button id="busquedaEliminar_bus" type="button">ELIMINAR</button>



            </div>
        </form>


        <div id="actualizarProducto">
            <br />
            <br />
            <form>
                <div class="form-group">
                    <label for="codPrincipalActual" class="form-control-label">Código Principal:</label>
                    <input type="text" class="form-control" id="codPrincipalActual" name="codPrincipalActual" disabled />
                    <div class="errores" id="mensajeCodPrincipalAA">Ingrese Código Principal del Producto. (Solo Números) </div>
                </div>


                <div class="form-group">
                    <label for="nomProductoActual" class="form-control-label">Nombre Producto:</label>
                    <input type="text" class="form-control" id="nomProductoActual" name="nomProductoActual" />
                    <div class="errores" id="mensajeNomProductoAA">Ingrese Nombre del Producto. (Solo Letras)</div>
                </div>

                <div class="form-group">
                    <label for="nomMarcaAcual" class="form-control-label">Marca Producto:</label>
                    <input type="text" class="form-control" id="nomMarcaAcual" name="nomMarcaAcual" />
                    <div class="errores" id="mensajeMarProductoAA">Ingrese Marca del Producto </div>
                </div>

                <div class="form-group">
                    <label for="modeloActual" class="form-control-label">Modelo Producto:</label>
                    <input type="text" class="form-control" id="modeloActual" name="modeloActual" />
                    <div class="errores" id="mensajeModProductoAA">Ingrese Modelo del Producto</div>
                </div>

                <div class="form-group">
                    <label for="precioActual" class="form-control-label">Valor Unitario:</label>
                    <input type="text" class="form-control" id="precioActual" name="txt_valUnitario" placeholder="ej: 89,00" />
                    <div class="errores" id="mensajeValUnitarioAA">Ingrese Valor Unitario</div>
                </div>





                <div>
                    <label for="slt_tipoProductoA" class="form-control-label">Tipo Producto:</label>
                    <select name="slt_tipoProductoA" id="slt_tipoProductoAA">
                        <option value="" selected>TODOS</option>
                        <option value="BIEN">BIEN</option>
                        <option value="SERVICIO">SERVICIO</option>
                    </select>
                    <div class="errores" id="mensajeslt_tipoAA">Seleccione una Opción Válida</div>
                </div>



                <div class="card-header">
                    <h5 class="card-title ">Impuestos Aplicables</h5>
                </div>

                <div>
                    <label for="slt_IVA" class="form-control-label">IVA:</label>
                    <select name="slt_IVA" id="slt_IVAA" required>
                        <option value="" selected>Seleccione</option>
                        <option value="GRAVA IVA">GRAVA IVA</option>
                    </select>
                    <div class="errores" id="mensajeslt_IVAA">Seleccione una Opción Válida</div>
                </div>

                <br>
                <div class="modal-footer">
                    <center><button type="button" class="btn btn-secondary" id="actualizarProduct">Guardar</button>
                        <button type="button" id="cancelarActual" class="btn btn-secondary">Cancelar</button></center>
                </div>
            </form>
        </div>
    </div>
</div>

<link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote.css" rel="stylesheet">
<script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote.js"></script>
<script src="/js/validacion_nuevoProducto.js"></script>

<script>
    $(document).ready(function() {

        validarNum($('#codPrincipalActual'));
        soloLetras($('#nomProductoActual'));
        soloLetras($('#nomMarcaAcual'));
        validarLetrasNumeros($('#modeloActual'));
        validarSoloDecimal($('#precioActual'));








        $('#actualizarProducto').hide();
        $('#btn_buscar').click(function() {
            $.ajax({
                type: "POST",
                url: "/buscarProducto",
                data: "text_codPrincipal=" + $('#text_codPrincipal').val(),
                success: function(data) {
                    var nuevaFila = "";
                    nuevaFila += "<tr>";
                    // añadimos las columnas
                    nuevaFila += "<td>" + data.codigo_principal + "</td>";
                    //nuevaFila += "<td>" + value.Actors + "</td>";

                    nuevaFila += "<td>" + data.nombre + "</td>";
                    nuevaFila += "<td>" + data.marca + "</td>";
                    nuevaFila += "<td>" + data.modelo + "</td>";
                    nuevaFila += "<td>" + data.precio_unitario + "</td>";

                    nuevaFila += "</tr>";
                    //añadimos la nueva fila a la tabla
                    $("#tablaBuscar tbody").html(nuevaFila);

                    $("#codPrincipalActual").val(data.codigo_principal);
                    $("#modeloActual").val(data.modelo);
                    $("#nomMarcaAcual").val(data.marca);
                    $("#nomProductoActual").val(data.nombre);
                    $("#precioActual").val(data.pasdfasdfasdfasdfasdfasdfasdfrecio_unitario);
                }
            });
        });
        $('#busquedaActualizar_bus').click(function() {
            $('#actualizarProducto').show();
        });


        $("#stockActual").click(function() {
            if ($("#stockActual").val() == "true") {
                $("#stockActual").val("false");
            } else {
                $("#stockActual").val("true");
            }
        });

        $("#actualizarProduct").click(function() {
alert("----------------------------------------------------")
            if (("#codPrincipalActual").val() == "") {
                $('#mensajeCodPrincipalAA').fadeIn();
                return false;
            } else {
                $('#mensajeCodPrincipalAA').fadeOut();
                if ($("#modeloActual").val() == "") {
                    $('#mensajeNomProductoAA').fadeIn();
                    return false;
                } else {
                    $('#mensajeNomProductoAA').fadeOut();
                    if (("#nomMarcaAcual").val() == "") {
                        $('#mensajeMarProductoAA').fadeIn();
                        return false;
                    } else {
                        $('#mensajeMarProductoAA').fadeOut();
                        if ($("#nomProductoActual").val() == "") {
                            $('#mensajeModProductoAA').fadeIn();
                            return false;
                        } else {
                            $('#mensajeModProductoAA').fadeOut();

                            if (("#precioActual").val() == "") {
                                $('#mensajeValUnitarioAA').fadeIn();
                                return false;
                            } else {
                                $('#mensajeValUnitarioAA').fadeOut();
                                if ($("#stockActual").val() == "") {
                                    $('#mensajeslt_IVAA').fadeIn();
                                    return false;
                                } else {
                                    $('#mensajeslt_IVAA').fadeOut();
                                    if ($("#ivaActual").val() == null) {
                                        $('#mensajeslt_tipoA').fadeIn();
                                        return false;
                                    } else {
                                        $.ajax({
                                            type: "POST",
                                            url: "/actualizar",
                                            data: "codPrincipal=" + $("#codPrincipalActual").val() + "&modeloActual=" + $("#modeloActual").val() + "&marca=" + $("#nomMarcaAcual").val() + "&nomProduct=" + $("#nomProductoActual").val() + "&precio=" + $("#precioActual").val() + "&stock=" + $("#stockActual").val() + "&iva=" + $("#ivaActual").val(),
                                            success: function(data) {
                                                if (data.data != null) {
                                                    alert("datos actualizados con exito");
                                                    $('#text_codPrincipal').val('')
                                                    $("#tablaBuscar tbody").html('');

                                                    $("#codPrincipalActual").val('');
                                                    $("#modeloActual").val('');
                                                    $("#nomMarcaAcual").val('');
                                                    $("#nomProductoActual").val('');
                                                    $("#precioActual").val('');
                                                    $('#actualizarProducto').hide();
                                                }
                                                if (data == null) {
                                                    alert("error al guardar");
                                                }

                                            }
                                        });

                                    }


                                }
                            }

                        }
                    }
                }
            }
        });
        $("#cancelarActual").click(function() {
            $('#text_codPrincipal').val('')
            $("#tablaBuscar tbody").html('');

            $("#codPrincipalActual").val('');
            $("#modeloActual").val('');
            $("#nomMarcaAcual").val('');
            $("#nomProductoActual").val('');
            $("#precioActual").val('');
            $('#actualizarProducto').hide();
        });

        $("#busquedaEliminar_bus").click(function() {

            $.ajax({
                type: "POST",
                url: "/eliminacionProducto",
                data: "codPrincipal=" + $("#text_codPrincipal").val(),
                success: function(data) {
                    if (data.data != null) {
                        alert("datos eliminados correctamente");
                        $("#tablaBuscar tbody").html("");
                        $('#text_codPrincipal').val("")
                    }
                }
            });
        });

    });

</script>
