<div class="container">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title ">Cliente Nuevo</h4>
        </div>
        <div class="card-block">
            <form >
                <div class="form-group">
                    <label for="cedulaRucCliente">Cedula o Ruc </label>
                    <input type="text" placeholder="Ingrese numero de cedula" id="cedulaRucCliente" name="cedulaRucCliente">
                </div>
                <div class="form-group">
                    <label for="razonSocialCliente">razon Social</label>
                    <input type="text" class="form-control" placeholder="ingrese razon social" id="razonSocialCliente" name="razonSocialCliente" maxlength="9" min="9">
                </div>
                <div class="form-group">
                    <label for="nombreCliente">Nombre</label>
                    <input type="text" class="form-control" placeholder="Ingrese nombre" id="nombreCliente" name="nombreCliente">
                </div>

                <div class="form-group">
                    <label for="apellidoCliente">Apellido</label>
                    <input type="text" class="form-control" placeholder="Ingrese apellido" id="apellidoCliente" name="apellidoCliente">

                </div>
                <div class="form-group">
                    <label for="emailCliente">email</label>
                    <input type="text" class="form-control" placeholder="ingrese email" id="emailCliente" name="emailCliente">
                </div>
                <div class="form-group">

                    <label for="direccionCliente">Dirección</label>
                    <input type="text" class="form-control" placeholder="ingrese direccion" id="direccionCliente" name="direccionCliente">
                </div>
                <div class="form-group">
                    <label for="telefonoCliente">Teléfono</label>
                    <input type="tel" class="form-control" placeholder="ingrese nuemero de telefono" id="telefonoCliente" name="telefonoCliente" maxlength="9">
                </div>

                <br>
                <div class="modal-footer">
                    <center><button type="button" class="btn btn-secondary" id="registrarCliente">Registrar</button>
                        <button type="button" class="btn btn-secondary">Cancelar</button></center>
                </div>
            </form>
        </div>
    </div>
</div>



<script src="/js/validacion_NuevoUser.js"></script>
<script>
    $(document).ready(function() {
        
        
        $("#registrarCliente").click(function() {
            
            $.ajax({
                type: "POST",
                url: "/guardarCliente",
                data:"cedulaRuc="+$('#cedulaRucCliente').val()+"&razonSocial="+ $('#razonSocialCliente').val()+"&nombre="+$('#nombreCliente').val()+"&apellido="+$('#apellidoCliente').val()+"&email="+$('#emailCliente').val()+"&direccion="+$('#direccionCliente').val()+"&telefono="+$('#telefonoCliente').val(),
                success: function(data) {
                    console.log(data.data);
                    if(data.data != null){
                       alert("Cliente ingresado con éxito");
                       }else{
                           alert("La cedula ya se encuentra registrada");
                       }
                    
                }
            });
        });
        
        var boton = $('#enviar_nuevoUser');
        $('#verificarClaveNuevo').hide();
        $('#lb_verifi').hide();
        var aux= soloLetras($('#nombreCliente'), boton);
        
        soloLetras($('#apellidoNuevo'), boton);
        validarClaves($('#claveNuevo'), $('#verificarClaveNuevo'), boton);
        validarTelefono($('#telefonoNuevo'), boton);
        validarCorreo($('#emailNuevo'), boton);
        validarCedulaRuc($('#cedulaRucNuevo'), boton);

        validarDireccion($('#direccionNuevo'), boton);

        $('#enviar_nuevoUser').click(function() {
            var aux = true;
            if ($('#direccionNuevo').val() == "") {
                $('#direccionNuevo').addClass("red red-border");
                boton.attr("disabled", "disabled");
                aux = false;
            }
            if ($('#telefonoNuevo').val() == "") {
                $('#telefonoNuevo').addClass("red red-border");
                boton.attr("disabled", "disabled");
                aux = false;
            }
            if ($('#nombreNuevo').val() == "") {
                $('#nombreNuevo').addClass("red red-border");
                boton.attr("disabled", "disabled");
                aux = false;
            }
            if ($('#apellidoNuevo').val() == "") {
                $('#apellidoNuevo').addClass("red red-border");
                boton.attr("disabled", "disabled");
                aux = false;
            }
            if ($('#claveNuevo').val() == "") {
                $('#claveNuevo').addClass("red red-border");
                boton.attr("disabled", "disabled");
                aux = false;
            }
            if ($('#cedulaRucNuevo').val() == "") {
                $('#cedulaRucNuevo').addClass("red red-border");
                boton.attr("disabled", "disabled");
                aux = false;
            }

            if ($('#emailNuevo').val() == "") {
                $('#emailNuevo').addClass("red red-border");
                boton.attr("disabled", "disabled");
                aux = false;
            }
            if ($('#emailNuevo').val() == "") {
                $('#emailNuevo').addClass("red red-border");
                boton.attr("disabled", "disabled");
                aux = false;
            }



            if (aux == true) {
                alert("envio de datos");
            } else {
                alert("verifique que los campos estan correctamente llenados");
            }
        });

    });

</script>
