
<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"  crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"  crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"  crossorigin="anonymous"></script>
    </head>
    <body>
        <div class="text-primary ">
            <h1><%= title %></h1>
        </div>
        <p>Esta pagina trata de <%= descripcion %></p>
        <p class="mx-auto ">En los últimos años, la inteligencia artificial ha avanzado a un a velocidad de vértigo mientras que la robótica permanecía estancada. Pero ahora, los algoritmos que hacen de cerebro están empezando a lograr que los cuerpos de las máquinas hagan cosas realmente útiles, y viceversa
            por Will Knight | traducido por Mariana Díaz 28 Junio, 2018
            El brazo robótico de la imagen superior está llevando a cabo una tarea sisifesca. Primero sobrevuela una enorme montaña de piezas de pollo cocinadas y luego se inclina hacia abajo para agarrar una de ellas. Cuando la tiene sujeta, se gira y, con mucha suavidad, la coloca en un envase en movimiento que avanza por una cinta transportadora.</p>


        <img   src="https://s3.amazonaws.com/files.technologyreview.com/p/pub/images/osaro759.jpg" />
        <p >
            Los robots equipados con inteligencia artificial permitirán que la automatización penetre en cada vez más profesiones.
            Podrían reemplazar a las personas en cualquier tarea que requiera clasificar, empaquetar y desempaquetar productos. 
            Y ahora que son capaces de navegar por una fábrica caótica, es posible que se les encarguen más trabajos de fabricación.
            Puede que no lleguen a dominar toda la industria, pero desde luego están empezando una revolución. "Cada vez hay más pruebas, la gente está intentando muchas cosas diferentes.
            Hay una gran cantidad de opciones para [automatizar] tareas repetitivas", señala el investigador de la Escuela de Negocios de Harvard (EE. UU.) Willy Shih, que estudia las tendencias en la fabricación.
        </p>

    </body>
</html>



